<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Gestão de Veículos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="veiculos">Gerenciar Veículos</a>
        </li>
        <div class="dropdown">
          <a (click)="pegarVeiculos()" class="nav-link dropdown-toggle" id="dropdownNavLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meus Veículos
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink" style="">
            <li *ngFor="let carro of carros">
              <a [routerLink]="'/veiculos/'+carro.id"class="dropdown-item" role="button">{{carro.marca}} - {{carro.placa}}</a>
            </li>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://github.com/William-Lomar/Gestao_Veiculos">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>