<div class="lista_carros">
    <form class="cadastro">
        <h1>Editar Veículo</h1>
        <div class="mb-3">
            <label for="placa" class="form-label">Placa</label>
            <input [(ngModel)]="carro[0].placa" name='placa' type="text" class="form-control" id="placa">
        </div>
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input [(ngModel)]="carro[0].marca" name='marca' type="text" class="form-control" id="marca">
        </div>
        <button (click)="atualizar()" type="button" class="btn btn-primary">Atualizar</button>
        <button [routerLink]="'/log/'+carro[0].id" type="button" class="btn btn-secondary">Visualizar Folha de Registro</button>
    </form>
<div>