<div class="lista_carros">
    <form class="cadastro" [formGroup]="userForm">
        <h1>Cadastrar Veículo</h1>
        <div class="mb-3">
            <label for="placa" class="form-label">Placa</label>
            <input required type="text" class="form-control" id="placa" formControlName="placa">
        </div>
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input required type="text" class="form-control" id="marca" formControlName="marca">
        </div>
        <button (click)="cadastrarCarro()" type="submit" class="btn btn-success">Cadastrar</button>
    </form>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Placa</th>
        <th scope="col">Marca</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carro of carros">
            <th scope="row">{{carro.id}}</th>
            <td>{{carro.placa}}</td>
            <td>{{carro.marca}}</td>
            <td>
                <button type="button" class="btn btn-primary" [routerLink]="'/veiculos/'+carro.id">Editar</button>
                <button (click)="confirmExcluir(carro.id)" type="button" class="btn btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
    </table>
</div>

